@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Dancing+Script:wght@400;700&family=Orbitron&family=Protest+Revolution&family=Sixtyfour&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* header */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
    /* background-color: whitesmoke; */
    height: auto;
    /* background-image: linear-gradient(to right,rgba(0, 201, 0, 0.471),rgba(41, 113, 17, 0.599)); */
}
.fcc{
    display: flex;
    align-items: center;
    justify-content: center;
}
canvas {
    display: block;
    height: 100%;
}
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    /* top: 70px; */
    left: 0;
    /* background: #292929; */
    background-image: linear-gradient(to right,rgba(8, 169, 8, 0.641),rgba(50, 150, 16, 0.805));
    transition: all 0.3s;
    z-index: -1;
  }
.sidemenu{
    display: none;
}
.sidemenu-bar{
    margin-right: 20px;
    font-size: 20px;
    font-weight: 500;
}










.header{
    position: fixed;
    z-index: 100;
    color: #fff;
    background-image: linear-gradient(to right,rgb(0, 201, 0),rgb(41, 113, 17));
    width: 100%;
    border-bottom: 1px solid grey;
    height: 60px;
    justify-content: space-between;
}
.left-header{
    display: flex;
    margin-left: 20px;
    /* gap: 5px; */
    font-size: 15px;
    font-weight: 550;
}
.right-nav{
    color: #fff;

    gap: 20px;
    margin-right: 20px;
}
.logo{
    font-size: 20px;
    color: #fff;

    font-weight: 500;

}
.left-nav{
    margin-left: 20px;
}
.nav-bar{
    gap: 20px;
    color: #fff;

    margin: 5px;
}
.nav-li{
    list-style: none;
    transition: .2s;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 8px;
    border-bottom: 4px solid transparent
}
.nav-active{
    color: #000;
    border-bottom: 4px solid rgb(14, 77, 2);
}
.nav-li:hover{
    border-bottom: 4px solid #000;
    transform: scale(1.1);
}
.logo-image img{
    width: 40px;
    height: 40px;
}










/* container */

.container{
    flex-direction: column;
    padding-top: 80px;
    height: auto;
}
.main-subnav{
    width: 1000px;
    overflow-x: auto;
    justify-content: start;
    /* min-width: 600px; */
}
.sub-subnav{
    display: none;
}
.subnav{
    display: flex;
    /* min-width: 600px; */
    /* text-decoration : ; */
    width: 100%;
}
.subnav li{
    cursor: pointer;
    text-decoration: underline;
    color: #003a00;
    font-weight: 500;
    list-style: none;
    border-radius: 5px;
    padding: 0 14px;
    transition: .4s;
    border-bottom: 3px solid transparent;
}
.subnav li:hover{
    border-bottom: 3px solid green;
    /* color: black; */
    transform: scale(1.1);
}

.slider-div{
    width: 100%;
    flex-direction: column;
    height: 300px;
}
.slider-title{
    width: 1000px;
    margin-bottom: 10px;
    font-size: large;
    font-weight: 500;
}
.slider{
    display: flex;
    position: relative;
    z-index: 5;
}
.slider-item{
    display: none;
    /* background-color: rgb(13, 255, 0); */
    box-shadow: 0px 0px 10px 5px rgba(38, 51, 38, 0.612);
    background-image: linear-gradient(to right,rgb(41, 113, 17),  rgb(0, 201, 0));
    width: 1000px;
    border-radius: 5px;
    height: 250px;
}
.slider-img{
    width: 250px;
    height: 95%;
}
.slider-content{
    width: 650px;
}
.slider-img img{
    height: 97%;
    box-shadow: 3px 3px 5px #0000006b;
    animation: fade-out 1.5s;
    width: auto;
    border-radius: 7px;
}
.active{
    display: flex;
    justify-content: space-evenly;
    animation: fade-out 1s;
}
@keyframes fade-out {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transition: opacity 1s;
    }
}
.slider-btns{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
}
/* .main{
    backdrop-filter: blur(2px);
} */
.slider-btn{
    font-size: 20px;
    z-index: 6;
    box-shadow: 2px 2px 20px rgba(19, 19, 19, 0.384);
    padding: 20px;
    transition: .5s;
    cursor: pointer;
    width: 10px;
    height: 10px;
    background-color: rgba(251, 255, 255, 0.422);
    border-radius: 50%;
}
.slider-btn:hover{
    background-color: rgba(148, 144, 139, 0.438) ;
}
.slider-left-btn{
    transform: translateX(-50%);
}
.slider-right-btn{
    transform: translateX(50%);
}
.sidemenu-top{
    display: flex;
    justify-content: space-between;
    margin: 0 25px;
    border-bottom: 1px solid green;
    height: 90px;
    align-items: center;
}
.sidemenu-close{
    font-size: 20px;
}
.side-bar li{
    width: 80%;
    text-wrap: nowrap;
}
.side-bar li:hover{
    transform: none;
}
.sidemenu-logo-name{
    text-wrap: nowrap;
    color: #000;
}
.sidemenu-nav{
    height: 100vh;
    position: fixed;
    z-index: 100;
    flex-direction: column;
    width: 0;
    overflow: hidden;
    background-color: lightgreen;
    transition: .5s;
    /* display: none; */
}
.side-bar{
    gap: 20px;
    margin-top: 40px;
    flex-direction: column;
}
.sidemenu-active{
    width: 70%;
}
.games-section{
    flex-direction: column;
    width: 1000px;
    margin-bottom: 100px;
    margin-top: 20px;
    height: auto;
}
.games-title{
    width: 100%;
}
.game-lists{
    min-width: 100%;
    height: auto;
    padding-bottom: 20px;
    flex-wrap: wrap;
    gap: 30px;
    overflow: hidden;
}
.game-div{
    width: 450px;
    border: none;
    box-shadow: 2px 2px 5px 3px #00330aa0;
    /* flex-direction: column; */
    display: flex;
    border-radius: 8px;
    /* min-height: 160px; */
    height: 150px;
    background-image: linear-gradient(to right,rgb(41, 113, 17),  rgb(0, 201, 0));
}
.games-title p{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    width: 100%;
    text-align: start;
}
.game-img-div{
    margin-left: 5px;
    /* height: 100%; */
    width: 34%;
    border-radius: 8px;
}
.game-img-div img{
    width: 90%;
    /* height: ; */
    border-radius: 4px;
}
.game-content-div{
    padding: 5px;
    width: 67%;
}
.game-content-div p{
    font-size: 13px;
    margin-bottom: 8px;
    text-overflow: ellipsis;
}
.game-content-div a{
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    background-color: #04c217;
    padding: 3px 10px;
    text-decoration: none;
    border-radius: 5px;
}
.game-content-div span{
    text-overflow: ellipsis;
    font-size: 20px;
    text-wrap: wrap;
    font-weight: 500;
}



@media all and (max-width:1024px) {
    .slider-div.slider-title,.slider-title{
        max-width: 800px;
    }
    .slider{
        width: 700px;
        justify-content: space-between;
    }
    .main-subnav,.games-section{
        width: 700px;
    }
    .games-section{
        height: auto;
        width: 80%;
    }
    .game-div{
        width: 80%;
    }
    .game-img-div{
        width: 25%;
    }
    .game-lists{
        height: auto;
        width: 90%;
    }
    .slider-img{
        width: auto;
        height: 95%;
    }
    .slider-content{
        width: 400px;
        font-size: 14px;
    }
    .slider-img img{
        height: 97%;
        width: auto;
        border-radius: 7px;
    }
}

@media all and (max-width:768px){
    .left-nav{
        display: none;
    }
    .game-div{
        height: auto;
        width: 90%;
        min-height: 160px;
    }
    .game-lists{
        flex-direction: column;
    }
    .sidemenu{
        display: flex;
    }
    .slider-div.slider-title{
        max-width: 500px;
        height: auto;
        margin-top: 100px;
    }
    .slider{
        width: 450px;
        justify-content: space-between;
    }
    .main-subnav{
        width: 450px;
    }
    .games-section{
        width: 600px;
    }
    .slider-item{
        flex-direction: column;
        gap: 10px;
        height: 400px;
    }
    .slider-img{
        width: 250px;
        margin-top: -100px;
        height: auto;
        box-shadow: 3px 3px 8px #0000006e;
        border: 1px solid #000;
        border-radius: 7px;
        overflow: hidden;
    }
    .slider-content{
        width: 400px;
        font-size: 14px;
    }
    .slider-img img{
        width: 100%;
        height: 100%;
    }
}


@media all and (max-width:568px) {
    .slider{
        width: 350px;
    }
    .games-section{
        width: 420px;
    }
    .main-subnav{
        width: 400px;
    }
    .subnav{
        display: flex;
        justify-content: space-evenly;
        /* gap: 10px; */
    }
    .subnav li{
        padding: 0 5px;
    }
    .sidemenu-active{
        width: 100%;
    }
    .slider-content{
        width: 90%;
    }
    .slider-btns{
        top: 30%;
    }
}


@media all and (max-width:425px) {
    .slider{
        width: 280px;
    }
    .games-section{
        width: 400px;
    }
    .game-content-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .game-content-div p{
        display: none;
    }
    .game-content-div a{
        width: 50%;
    }
    .slider-img{
        width: 200px;
    }
    .main-subnav{
        width: 300px;
    }
    .right-nav{
        display: none;
    }
    .slider-btn{
        padding: 15px;
        font-size: 15px;
    }
    .game-lists{
        width: 100%;
        gap: 10px;
    }
    .game-div{
        width: 100%;
        height: 100px;
        min-height: 100px;
    }
    .game-img-div{
        /* width: 100%; */
        margin-top: 5px;
    }
    .game-img-div img{
        /* width: 90%; */
    }
    .game-content-div{
        margin-top: 0;
        text-align: center;
        font-size: 14px;
    }
}

@media all and (max-width:375px) {
    .games-section{
        width: 300px;
    }
    .game-div{
        width: 90%;
        min-height: 70px;
        height: 70px;
    }
    .game-content-div span{
        font-size: 14px;
    }
    .game-content-div{
        align-items: start;
        margin-left: 15px;
    }
    .game-content-div p{
        display: block;
        font-size: 7px;
        text-overflow: ellipsis;
        max-width: 100%;
        max-height: 20px;
        overflow: hidden;
    }
    .game-content-div a{
        padding: 2px;
        width: 35px;
        font-size: 10px;
    }
}